*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-width:100vw;
    min-height: 100vh;
    background-color:#27e495;
    display: grid;
    place-content: center;
}

.signin-card-cont{
    height: 550px;
    width: 1000px;
    background-color: white;
    border:none;
    border-radius: 20px;
    box-shadow: 0 0 8px white;
    display: flex;
    flex-direction: row;
}
.card{
    background-image: url(./img/login_img.jpeg);
    background-size: cover;
    background-position: center;
    min-height:100%;
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.form-card{
    width: 50%;
    height: 100%;
    display: grid;
    place-content: center;
}
#mail{
    height: 30px;
    width: 300px;
}
#sub{
    height: 30px;
    width: 300px;
    background-color: rgb(30, 166, 219);
    color:white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}
#sub:active{
    background-color: rgb(173, 212, 228);
    color:rgb(82, 78, 78);
}

.row::after{
    content: "";
    clear: both;
    display: block;
  }
  [class*="col-"]{
    float: left;
    padding: 15px;

  }
  .col-1{width: 8.33%;}
  .col-2{width: 16.66%;}
  .col-3{width: 25%;}
  .col-4{width: 33.33%;}
  .col-5{width: 41.66%;}
  .col-6{width: 50%;}
  .col-7{width: 58.33%;}
  .col-8{width: 66.66%;}
  .col-9{width: 75%;}
  .col-10{width: 83.33%;}
  .col-11{width: 91.66%;}
  .col-12{width: 100%;}
  @media (max-width:768px){
    [class*="col-"]{
      width: 100%;
    }
  }